{% extends 'jobapp/base.html' %}
{% block head_block %}
  <title>About</title>
{% endblock %}
{% block body_block %}
  <h1>RDX Job Portal</h1>
  <p>RDX Jobs is a leading online job providing site. Our clients are looking for some skilled and hardworking job seekers. Every day we inspire and reach millions of job seekers across country. So when it comes to look for suitable job for you - we’ve got you covered. With hundreds of thousands of jobs across country, the most important thing is you don't have to pay a single penny to apply here, it's completely 100% FREE. Our site is fun and simple to use and we offer innovative online tools and a top rated mobile app.</p>
{% endblock %}
